<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ISendData" maxReceivedMessageSize="5242880"
                    messageEncoding="Mtom" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://win-5qk3d0f056a/SampleService/SendData.svc/SampleService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISendData"
                contract="RemoteService.ISendData" name="WSHttpBinding_ISendData">
                <identity>
                    <servicePrincipalName value="host/WIN-5QK3D0F056A" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>